body {
	background-color: #00FF00;
}

img {
	height: 100%;
}

table {
	display: inline;
}

tbody {
	height: 100%;
	background-color: white;
}

tr {
	vertical-align: middle;
}

#title {
	text-align: center;
}

div {
	display: flex;
	height: 200px;
}

* {
	font-size: 26px;
}